.left-sidebar-menu{
    position: absolute;
    width: 184px;
    box-shadow: 1px 1px 0 rgba(0,0,0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
    z-index: 4;
    background-color: white;
}

.side-nav-menu{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px opx;
}

.side-nav-div-menu{
    padding: 10px 0px;

}

.side-nav-div-menu div{
    padding-left: 10px;
}

.side-nav-links-menu {
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
}

.side-nav-links-menu:hover{
    color: black;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225,225,255);
    border-right: solid 3px #ef8236;
}